@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-shadow: 1px  1px 0px  #ee0c0c
}

li{
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

div{
    border: 1px solid black;

}

#div-2{
    border: 1px dotted red;
    line-height: 2em;
}


input.submit:hover{
    background-color: blue;
}